<div id="<%= dom_id unit %>">
  <div>
    <strong>Floor:</strong>
    <p><%= unit.floor %></p>
  </div>

  <div>
    <strong>House No:</strong>
    <p><%= unit.house_no %></p>
  </div>

  <div>
    <%= link_to 'edit', edit_unit_path(unit) %>
  </div>
</div>
