<%# all units belonging to an apartment %>
<div>
  <%= turbo_frame_tag 'units' do %>
    <% @units.each do |unit| %>
      <div>
        <%= unit.floor %>
        <%= unit.house_no %>
        <%= link_to 'show', unit_path(unit) %>
      </div>
    <% end %>
  <% end %>
</div>
